@model IEnumerable<SchoolProject.Dto.Class.ClassViewDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Class</h1>
<br />
@{
    if (@ViewBag.success != null)
    {
        <div id="AlertBox" class="alert alert-success" role="alert">
            @ViewBag.success
        </div>
    }
}
<p>
    <a asp-action="Create" class="btn btn-success">Add New Class</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClassName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.School)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Capacity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.School)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(function() {
            $('#AlertBox').removeClass('hide');
            $('#AlertBox').delay(2000).slideUp(500);
        });

    </script>
    }

                    <style>
    table {
        table-layout: fixed;
        margin-left: auto;
        margin-right: auto;
    }

    th {
        color: green;
    }

    td {
        word-wrap: break-word;
        white-space: nowrap;
        width: 550px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>