@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@model SchoolProject.Dto.SignUpDto

@{
    ViewData["Title"] = "Edit";
}
<div class="container">
<h1>Edit</h1>

<h4>  @Html.DisplayFor(model => model.UserName)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserDetail.BirthDay" class="control-label"></label>
                <input type="date" asp-for="UserDetail.BirthDay" class="form-control" />
                <span asp-validation-for="UserDetail.BirthDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserDetail.Address" class="control-label"></label>
                <input asp-for="UserDetail.Address" class="form-control" />
                <span asp-validation-for="UserDetail.Address" class="text-danger"></span>
            </div>
                     <div class="form-group" style="display:none">
                <label asp-for="UserDetail.UserId" class="control-label"></label>
                <input asp-for="UserDetail.UserId" class="form-control" />
                <span asp-validation-for="UserDetail.UserId" class="text-danger"></span>
            </div>
           <div class="form-group ">
                <div class="col-lg-15">
                    <label>School</label>
                    @Html.DropDownListFor(model => model.UserDetail.SchoolId, Model.SchoolList, "--Select School--", new { @class = "form-control" })
                    <span asp-validation-for="UserDetail.SchoolId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group ">
                <label>Department</label>
                <div class="col-lg-15">
                    @Html.DropDownListFor(model => model.UserDetail.DepartmentId, Model.DepartmentList, "--Select Department--", new { @class = "form-control"})
                </div>
            </div>
            <div class="form-group ">
                <label>Class</label>
                <div class="col-lg-15">
                    @Html.DropDownListFor(model => model.UserDetail.ClassId, Model.ClassList, "--Select Class--", new { @class = "form-control" })
                </div>
            </div>
                        <div class="form-group ">
                <label>Class</label>
                <div class="col-lg-15">
                    @Html.DropDownListFor(model => model.GroupId, Model.RoleList, "--Select Class--", new { @class = "form-control" })
                </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />

                <a asp-action="Cancel">
                    <input type="button" value="Cancel" width="16" height="16" class="btn btn-outline-danger" />
                </a>

                @{if(HttpContextAccessor.HttpContext.Session.GetInt32("Role") == 0)
                {
                    <a asp-action="Index">
                        <input type="button" value="Back to List" class="btn btn-secondary" />
                    </a>
                }}
            </div>
        </form>
        <br />
        @{
            if (@ViewBag.error != null)
            {
                <div id="AlertBox" class="alert alert-danger" role="alert">
                    @ViewBag.error
                </div>
            }
        }
    </div>
</div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
        <script>
        $(function() {
            $('#AlertBox').removeClass('hide');
            $('#AlertBox').delay(2000).slideUp(500);
        });

    </script>
    }
